# Python
__pycache__/
*.pyc

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# AWS CLI credentials
*.pem

# VSCode
.vscode/

# Jupyter
*.ipynb_checkpoints

# macOS
.DS_Store
.DS_Store
__pycache__/
*.pyc
.terraform/
